* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.row {
    width: 100%;
}

p {
    margin: 10px;
    clear: right;
}

span {
    float: right;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

section {
    border: 1px solid black;
    background: gray;
    margin: 7.5px;
}

.section1 span {
    width: 110px;
    background: #f09c7b;
}

.section2 span {
    width: 120px;
    background: #c94b4b;
}
.section3 span {
    width: 115px;
    background: #e7cf80;
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
    }

    .col-lg-4 {
        width: 33.33%;
    }
}